name: Update Static Files

on:
  schedule:
      - cron: '0 1 * * *'
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - uses: buildjet/setup-go@v4
        with:
          go-version: '1.21'

      - name: Generate files
        run: go run .
        env:
          GITHUB_API_KEY: ${{ secrets.GITHUB_TOKEN }}

      - uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          author_name: Frosh Automation
          author_email: ci@fos.gg
          message: 'chore: Updated files'
        env:
           GITHUB_TOKEN: ${{ secrets.FROSH_CI_TOKEN }}
